/* general style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: none;
    color: #7b7d82;
}

ul{
    list-style: none;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 10px;
    
}

::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px; 
}
   
 
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; 
}
  
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* navbar */

.navbar{
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 70;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

.upgrade{
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding: 1rem 2.5rem;
    border: 1px solid white;
    border-radius: 30px;
    transition: 1.5s;
}

/* main */

.container{
    display: flex;
}

/* lato sinistro */

.left-column{
    width: 230px;
    height: calc(100vh - 5rem);
    background-color: #000000;
    z-index: 80;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    overflow-y: hidden;
}

.list-icon{
    padding-left: 20px;
    padding-top: 20px;
}

.logo{
    color: white;
    width: 65%;
}

.logo-small{
    display: none;
}

.under-list{
    padding-top: 10px;
}

.under-list-y{
    padding-top: 10px;
}

.under-list-y::before{
    content: "";
    height: 25px;
    width: 2px;
    position: absolute;
    left: 0;
    background-color: lime;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 13px;
}

.home{
    width: 30px;
    display: inline-block;
    padding-right: 0.3rem;
}

.fa-plus{
    background-color: #7b7d82;
    color: black;
    padding: 0.7rem;
    margin-right: 0.5rem;
}

.nuova-playlist{
    margin-top: 0.8rem;
}

.install{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.under-list-1::after{
    content: "";
    display: block;
    background-color: #7b7d82;
    width: 100%;
    height: 2px;
    margin-inline: auto;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

.download{
    width: 18px;
    color: #7b7d82;
    display: inline-block;
    padding-right: 0.3rem;
}

.profile{
    width: 30px;
    background-color: #7b7d82;
    margin-right: 0.5rem;
    border-radius: 100%;
}

.icon-1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

/* lato destro */

.right-column{
    width: calc(100% - 230px);
    height: calc(100vh - 5rem);
    background-color: #141922;
    overflow-y: auto;
    padding: 6rem 2rem 2rem 2rem;
}

.menu{
    margin-inline: auto;
}

.list-one{
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 12px;
    flex-wrap: wrap;
}

.evidenza::after{
    content: "";
    display: block;
    background-color: lime;
    width: 25px;
    height: 2px;
    margin-inline: auto;
    margin-top: 0.2rem;
}

h2{
    color: white;
    padding: 2rem 0 2rem 0;
}

.row{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.album{
    width: calc((100% - 5rem) / 6);
    height: 100%;
    text-align: center;
}

.box{
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.square{
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.background{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.fa-play{
    color: white;
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.circle{
    border-radius: 100%;
}

.background-2{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    border-radius: 100%;
}

h3{
    color: white;
    padding: 1rem 0;
} 

h4{
    color: #7b7d82;
    font-size: 13px;
}

.release{
    padding-bottom: 2rem;
}

/* media query del main */

@media screen and (max-width:1100px) {
    .row{
        flex-wrap: wrap;
    }

    .album{
        width: calc((100% - 3rem) / 4);
    }
}

@media screen and (max-width:700px) {
    .album{
        width: calc((100% - 1rem) / 2);
    }
}

@media screen and (max-width:600px){
    .left-column{
        width: 50px;
    }

    .list-icon{
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo{
        display: none;
    }

    .logo-small{
        display: block;
        width: 80%;
    }

    .icon{
        display: block;
    }

    .home{
        padding-right: 0;
    }

    .search{
        display: none;
    }
     
    .playlist{
    display: none;
    }

    .new-playlist{
        display: none;
    }

    .list-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:1rem
    }

    .under-list-1::after{
        content: "";
        display: none;
    }

    .under-list-y::before{
        content: "";
        display: none;
    }

    .download{
        padding-right: 0;
    }

    .john{
        width: 100%;
    }

    .icon-1{
        display: block;
    }

    .profile{
        margin-inline: auto;
    }

    .right-column{
        width: calc(100% - 50px);
    }
}

/* hover del main */

.upgrade:hover{
    transform: scale(1.1);
}

.icon:hover{
    color: white;
}

.fa-plus:hover{
    background-color: white;
}

.album:hover{
    cursor: pointer;
}

.fa-circle-play:hover{
    cursor: pointer;
    font-size: 35px;
}

.box:hover .fa-play{
    display: block;
}

.box:hover .background{
    display: block;
}

.box:hover .background-2{
    display: block;
}

/* audio */

.audio{
    width: 100%;
    height: 90px;
    background-color: #59544A;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 90;
    display: flex;
    justify-content: space-between;
}

/* sezione sinistra */

.audio-left{
    min-width: 150px;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding-inline: 0.5rem;
}

.song{
    display: flex;
    align-items: center;
}

.sinister{
    display: inline-block;
    height: 60px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    padding-right: 0.5rem;
}

.sinister-1{
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.nome-brano{
    font-size: 13px;
}

.fa-heart, .fa-folder{
    color: #7b7d82;
}

/* sezione centrale */

.audio-central{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.display{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.fa-shuffle, .fa-backward-fast, .fa-forward-fast, .fa-arrow-rotate-right{
    color: white;
}

.fa-circle-play{
    color: white;
    font-size: 30px;
}

.display-2{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.number{
    font-size: 12px;
    color: white;
}

.volume{
    width: 50%;
    height: 4px;
    background-color: #7b7d82;
    border-radius: 20px;
}

.volume-2{
    width: 35%;
    background-color: white;
    height: 4px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ball{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    display: none;
}

/* sezione destra */

.audio-right{
    min-width: 150px;
    width: 20%;
    height: 100%;
    padding-inline: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.fa-bars-staggered, .fa-tv, .fa-volume-high{
    color: white;
    font-size: 13px;
}

.volume-bar{
    width: 40%;
    height: 4px;
    background-color: #7b7d82;
    border-radius: 20px;
}

.volume-bar-white{
    background-color: white;
    width: 60%;
    height: 4px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
} 

/* add hover in last section */

.nome-brano:hover{
    text-decoration: underline;
    color: white;
}

.fa-folder:hover{
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.fa-heart:hover{
 color: white;
 font-size: 17px;
 cursor: pointer;
}

.volume-2:hover{
    background-color: lime;
    cursor: pointer;
}

.volume-2:hover .ball{
    display: block;
}

.volume-bar-white:hover{
    background-color: lime;
    cursor: pointer;
}

.volume-bar-white:hover .ball{
    display: block;
}
